._informer {
  position: fixed;
  bottom: 15%;
  right: 10px;
  margin-bottom: 0;
  font-size: 1.2em;
  padding: 0.5em 1em;
  z-index: 2000;
  color: white;
  background-color: rgba(0,0,0,0.7);
  border: 1px solid #bce8f1;
  border-radius: 6px;
}

._editable {
  .control_buttons button{
  }

  &>table {
    margin-top:20px;
    width: 100%;
  }

  tr[data-rowid]{
    cursor: pointer;

    &.bg-info:hover{
      background-color: #d9edf7;;
    }
  }

  .modal{
    display: none;
    justify-content: center;
    align-items: center;

    &[data-type=remove]{
      .modal-body{
        display: none;
      }

      .modal-footer .btn-primary:before {
        content: 'Delete';
      }
    }

    &[data-type=add], &[data-type=edit] {
      .modal-footer .btn-primary:before {
        content: 'Save changes';
      }
    }

    h5{
      font-size: 20px;
      font-weight: bold;
    }

    .modal-header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:before, &:after{
        display: none;
      }
    }

    .modal-content {
      width: 100%;
      max-width: 600px;
      margin: 60px auto;

      .modal-body{
        .fieldset {
          margin: 10px 0;
          display: flex;

          label{
            flex-basis: 150px;
          }

          input {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}