._informer {
  position: fixed;
  bottom: 15%;
  right: 10px;
  margin-bottom: 0;
  font-size: 1.2em;
  padding: 0.5em 1em;
  z-index: 2000;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #bce8f1;
  border-radius: 6px;
}
._editable > table {
  margin-top: 20px;
  width: 100%;
}
._editable tr[data-rowid] {
  cursor: pointer;
}
._editable tr[data-rowid].bg-info:hover {
  background-color: #d9edf7;
}
._editable .modal {
  display: none;
  justify-content: center;
  align-items: center;
}
._editable .modal[data-type=remove] .modal-body {
  display: none;
}
._editable .modal[data-type=remove] .modal-footer .btn-primary:before {
  content: 'Delete';
}
._editable .modal[data-type=add] .modal-footer .btn-primary:before,
._editable .modal[data-type=edit] .modal-footer .btn-primary:before {
  content: 'Save changes';
}
._editable .modal h5 {
  font-size: 20px;
  font-weight: bold;
}
._editable .modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._editable .modal .modal-header:before,
._editable .modal .modal-header:after {
  display: none;
}
._editable .modal .modal-content {
  width: 100%;
  max-width: 600px;
  margin: 60px auto;
}
._editable .modal .modal-content .modal-body .fieldset {
  margin: 10px 0;
  display: flex;
}
._editable .modal .modal-content .modal-body .fieldset label {
  flex-basis: 150px;
}
._editable .modal .modal-content .modal-body .fieldset input {
  flex-basis: 100%;
}
